body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0e27;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center; /* vertically align items */
    justify-content: center; /* center flex items as a group */
    background-color: #040723;
    color: white;
    padding: 20px;
    grid-row: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid #111e48;
    position: relative; /* important for absolute centering of nav */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto; /* pushes nav to the center */
}

.logo-icon {
    height: 50px;   /* adjust depending on your design */
    margin-right: 10px; /* space between icon and title */
}

/* push the h1 to the left of the header */
header h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
    margin-right: auto; /* pushes everything else to the right */
    color: #00c8cf;
}


nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0; /* removes whitespace between inline elements */
    display: flex;
    align-items: center; /* vertically centers all items (which aligns them horizontally on the same line) */

}


nav a,
nav img {
    font-family: "Koh Santepheap", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px; /* restore font size for links */
    text-decoration: none;
    color: #848ae0;
}

nav a:not(:last-child)::after {
    content: ' | ';
    margin: 0 10px; /* 50px on left and right */
}

    #leftcolumn {
        float: left;
        width: 150px;
        background-color: rgb(251, 255, 188);
        padding: 20px;
        /* margin-top: 20px; */
        margin-right: 20px; /* Space between columns */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    #rightcolumn {
        margin-left: 190px; /* Left column width (150px) + padding (20px) + margin (20px) */
        background-color: white;
        padding: 20px;
        /* margin-top: 20px; */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }