/* color scheme */
/* header blue : #040723
body blue: #0b0e27
optionsbar backgroundcolor:110f32
active tab: a8e612
unactivetab: 848ae0
text: #606788
background node: 16556f
nodetext: 00d9eb
normal button: 626396
special button: 00c8cf
button text: c7deea
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0e27;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center; /* vertically align items */
    justify-content: center; /* center flex items as a group */
    background-color: #040723;
    color: white;
    padding: 20px;
    grid-row: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid #111e48;
    position: relative; /* important for absolute centering of nav */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto; /* pushes nav to the center */
}

.logo-icon {
    height: 50px;   /* adjust depending on your design */
    margin-right: 10px; /* space between icon and title */
}

/* push the h1 to the left of the header */
header h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
    margin-right: auto; /* pushes everything else to the right */
    color: #00c8cf;
}


nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0; /* removes whitespace between inline elements */
    display: flex;
    align-items: center; /* vertically centers all items (which aligns them horizontally on the same line) */

}


nav a,
nav img {
    font-family: "Koh Santepheap", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px; /* restore font size for links */
    text-decoration: none;
    color: #848ae0;
}

nav a:not(:last-child)::after {
    content: ' | ';
    margin: 0 10px; /* 50px on left and right */
}



main {
    color:white;
    grid-row: 2;
    margin: 20px auto;
    padding: 20px 0;           /* top & bottom padding */
    width: 100%;
}

main .content {
    max-width: 1000px;    
    margin: 0 auto;      
    padding: 0 20px;     /* left & right padding */
    box-sizing: border-box;
}

main h3 {
    font-family: "Koh Santepheap", serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #606788; 
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
    background-color: #040723;
    grid-row: 3;
    margin-top: 20px;      /* adds space */
    border-top: 5px solid #111e48; /* sets color */
}

