body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;  /*row1 will be content size, row2 is stretched,row3 is content size*/
    min-height: 100vh;
    color:black;
}

header {
    display: flex;
    align-items: center; /* vertically align items */
    justify-content: center; /* center flex items as a group */
    background-color: #040723;
    color: white;
    padding: 20px;
    grid-row: 1;
    margin-bottom: 20px;
    border-bottom: 5px solid #111e48;
    position: relative; /*absolute centering of nav */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto; /* pushes nav to the center */
}

.logo-icon {
    height: 50px;   
    margin-right: 10px; 
}

header h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
    margin-right: auto; /* pushes everything else to the right */
    color: #00c8cf;
}


nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0; 
    display: flex;
    align-items: center; /* vertically centers all items*/

}


nav a,
nav img {
    font-family: "Koh Santepheap", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px; /* restore font size for links */
    text-decoration: none;
    color: #848ae0;
}

nav a:not(:last-child)::after {
    content: ' | ';
    margin: 0 10px; 
}